body{ 
	margin: 0; 
} 
.main-header{ 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	margin: 0;
} 
.main-header > header > h1 > a{
	text-decoration: none;
	color: black;
}
.main-header > header > h1 > a > span 
{ 
	color: red; 


}  
.stiky{

	position-top: fixed;
	width: 100%;
}
.nav1{ 
	display: flex; 
	list-style: none; 
	padding:0px; 
	background-color: rgba(1, 1, 0, 0.5);
	margin: 0;
	
} 


.navbar > .nav1 > li{ 
    
	background-color: black; 
	padding: 10px;

}

 .navbar > .nav1 > li > a{ 
 	text-decoration: none; 
 	color: red;
 	margin: 10px;
 	padding: 5px;
 	transition: all 1s;
 	
 }


.navbar > .nav1 > li > a{ 
 	text-decoration: none; 
 	color: red;
 	margin: 10px;
 	padding: 5px;
 	transition: all 1s;
 	
 }
 .push{ 
	margin-left: auto; 
} 
h2{
	text-align:center;
}

#div2 > p {
	display: flex;
	align-items: center;
	justify-content: center;
}
#div2 > h3{
	text-align: center;
}

#div2 > p > a {
	text-decoration: none;
	font-weight: bold;
	color: red;
	font-size:120%;
}

#div2 > p {
	border: 5px solid black;
	background-color: #4444;
}

footer{
	
	text-align: center;
	justify-content: center;
	background-color: black;
	color:white;
	height: 5vh;
}